/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
	background-color: #F1F1F1;
}
/*თავი*/
header {
	background-color: #F1F1F1;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

a {
	color: black;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
}
.gap{
	margin-right: 29px;
}
.profile{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	vertical-align: middle;
}
li {
	display: inline-block;
	margin-left: 40px;
}

nav {
	display: inline-block;
	vertical-align: middle;
}	
.container {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}

/*მთავარი*/

/* ქარდების საერთო კოდი */

.title{
	text-transform: uppercase;
	font-family: "Roboto", sans serif;
	font-size: 24px;
	font-weight: 700;
	margin-left: 40px;
	margin-bottom: 27px;
}

.text {
	position: absolute;
	top: 37px;
	left: 41px;
	color: white;
	font-family: "Roboto", sans serif;
	font-size: 20px;
	font-weight: 700;
}

.img-container {
	display: inline-block;
	position: relative;
	background-color: white;
	margin-left: 40px;
	height: 357px;
}
.card-image {
	height: 186px;
	width: 362px;
}

/*ქარდი N1*/
.section-1 {
	margin-top: 60px;
	padding: 20px 0;
}

.paragraph-one{
	position: absolute;
	top: 246px;
	left: 37px;
	right: 87px;
	font-family:"Roboto", sans-serif;
	font-weight: 700;
	font-size: 10px;
	color: #8A8787;
	line-height: 200%;
}

.clock{
	position: absolute;
	top: 301px;
	left: 37px;
	height: 16px;
	width: 16px;
}

.time{
	position: absolute;
	top: 299px;
	left: 67px;
	font-family:"Roboto", sans-serif;
	font-weight: 700;
	font-size: 10px;
	color: #8A8787;
	line-height: 200%;
}
